body {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
}


.container {
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

ul {
    list-style-type: none;
    max-width: 500px;
    margin: auto;
}

li {
    min-height: 42px;
    text-align: left;
    background-color: white;
    padding: 5px;
    margin-bottom: 0px;
    font-size: 18px;
    color: black;
    margin: 20px;
    border-radius: 6px;
}

li button {
    float: right;
    margin: 0 3px;
}

.checked {
    text-decoration: line-through;
}

#newTask {
    border-radius: 2px;
}